<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="main.js"></script>
    <title></title>
  </head>
  <body> 
    <header> 
      <div class="container"> 
        <nav class="nav"> 
          <!-- MOBILE NAVIGATIONS-->
          <ul class="nav-list nav-list-mobile"> 
            <li class="nav-item">   
              <div class="mobile-menu"> <span class="line line-top"></span><span class="line line-bottom"></span></div>
            </li>
            <li class="nav-item"> <a class="nav-link nav-link-apple" href="index.pug"></a></li>
            <li class="nav-item"><a class="nav-link nav-link-bag" href="index.pug"></a></li>
          </ul>
          <!-- LARGER SCREEN SIZE-->
          <ul class="nav-list nav-list-larger"> 
            <li class="nav-item nav-item-hidden"> <a class="nav-link nav-link-apple" href="index.pug"></a></li>
            <!-- NAVIGATION ITEMS-->
            <li class="nav-item"> <a class="nav-link" href="index.pug">Store</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">Mac</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">iPad</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">iPhone</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">Watch</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">AirPods</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">TV & Home</a></li>
            <li class="nav-item"> <a class="nav-link" href="index.pug">Support</a></li>
            <li class="nav-item"> <a class="nav-link nav-link-search" href="index.pug"></a></li>
            <li class="nav-item nav-item-hidden"><a class="nav-link nav-link-bag" href="index.pug"></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- MAIN SECTION 1-->
    <section class="hero iphone-14-pro">
      <div class="container"> 
        <div class="title"> 
          <h2 class="title-heading">iPhone 14 Pro</h2>
          <h3 class="title-sub-heading">Pro. Beyond.</h3>
        </div>
        <div class="cta"> <a class="cta-link" href="#">Learn More ></a><a class="cta-link" href="#">Buy ></a></div>
      </div>
    </section>
    <!-- MAIN SECTION 2 -->
    <section class="hero iphone-14">
      <div class="container"> 
        <div class="title title-dark">
          <h2 class="title-heading">iPhone 14</h2>
          <h3 class="title-sub-heading">Big and bigger</h3>
        </div>
        <div class="cta"> <a class="cta-link cta-link-darker" href="#">Learn More ></a><a class="cta-link cta-link-darker" href="#">Buy ></a></div>
      </div>
    </section>
    <section class="hero homepod"> 
      <div class="container"> 
        <div class="title"> 
          <h2 class="title-heading">HomePod</h2>
          <h3 class="title-sub-heading">Profound Sound</h3>
        </div>
        <div class="cta"> <a class="cta-link" href="#">Learn More ></a><a class="cta-link" href="#">Buy ></a></div>
      </div>
    </section>
    <!-- GRID AREA SECTION -->
    <div class="grid-container"> 
      <div class="grid-row"> 
        <div class="card">
          <!-- PICTURE HEADING-->
          <div class="card-heading"></div>
          <p class="grid-text">Get up to 3% Daily Cash back with every purchase.</p>
          <div class="cta-grid"> <a class="cta-grid-link cta-grid-darker" href="#">Apply Now ></a></div>
        </div>
      </div>
      <div class="grid-row"> 
        <div class="watch">
          <!-- PICTURE HEADING-->
          <div class="watch-heading"></div>
          <p class="grid-text grid-text-lighter">A healthy leap ahead.</p>
          <div class="cta-grid"> <a class="cta-grid-link" href="#">Buy ></a></div>
        </div>
      </div>
      <div class="grid-row"> 
        <div class="k12">
          <!-- PICTURE HEADING-->
          <div class="k12-heading"></div>
          <p class="grid-text">Products and resources designed to inspire learners.</p>
          <div class="cta-grid"> <a class="cta-grid-link cta-grid-darker" href="#">Learn More ></a></div>
        </div>
      </div>
    </div>
  </body>
</html>